{% extends "logged-in.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<!-- I followed code institute's video guide on customizing my logout.html page. 
This page consists of having a simple <h1> element and a Sign-out button.
-->

<div style="background-color: white;">
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>{% trans "Sign Out" %}</h1>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup btn-dark right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
<!-- The hr's here are for making space that will extend the white background to the footer. -->
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
<hr style="Visibility: hidden;">
</div>
{% endblock %}
