body{
    background-color: #212529; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-item-header{
    font-size: 20px;
}
.nav-item-header{
    padding-left: 20px;
}
#resturanunt-image{
width: 90%;
}

.red-text {
    color: rgb(173, 11, 11);
}

.no-underline {
    text-decoration: none;
}