{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/35936358ad.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="x-icon" href="{% static 'assets/icon.png' %}">
    <title> Sodja </title>
</head>

<body>
<!-- This is my main nav bar, When the user creates an account and logges in, they can now enter 'Book Tables'.  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top opacity-75">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="./logged-in.html">Logged In Sodja Resturaunt
                <img src="{% static 'assets/icon.png' %}" alt="icon" width="50" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
                    <li class="nav-item nav-item-header">
                        <a class="nav-link nav-link-header" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item nav-item-header">
                        <a class="nav-link nav-item-header" href="./book-table.html">Book Tables</a>
                    </li>
                    <li>
                        <a class="nav-link nav-item-header" href="./view-bookings.html">My bookings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
<!-- This is my image and container that is at the top of the page, the <hr> are here to create space between containers-->
    <div class="container-fluid bg-dark bg-gradient">
        <div id="resturanunt-image-container">
            <img src="{% static 'assets/edit3.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Resturaunt"
                id="resturanunt-image">
        </div>
        <hr>
        <hr>
    </div>
<!-- This is my container, Columns and rows (grid system) that i use for my about section -->
<!-- About Section -->
    <div class="container-fluid" style="background-color: rgba(255, 255, 255, 0.678);">
        <div class="container mb-5 mt-5" style="border: 1px solid #fff; background-color: rgb(55, 57, 65);">
            <div class="row" style="border: 1px solid #fff;">
                <div class="col-12 pt-3">
                    <h1 class="text-center display-2" id="About-Us-id" style="color: #fff;"> Something About Us <img
                            src="{% static 'assets/icon.png' %}" alt="icon" width="90" height="90"></h1>
                </div>
            </div>
            <div class="row p-5 g-5">
                <div class="col-sm-6">
                    <div class="p-3">
                        <h1 class="text-center" style="color: #fff;">Sodja Resturaunt</h1>
                        <p style="color: #fff;"> We promise a
                            romantic setting for you and your guessed to dine in. We offer a
                            special menu that was selected by our head chef that should complement your romantic
                            environment.
                            We have Comtrouble chairs with
                            nicely dressed tables and a bar in our
                            restaurant. We also have a decorated lounge area
                            if for any reason you had to wait for your tables to get pre-pared.
                            Also something interesting about our bar - our bar got nominated for Best restaurant Bar of
                            the Year 2022.
                            At Arkle Bar, each
                            and every dish is freshly prepared and cooked and is a dedication to our promise to use only
                            the best quality ingredients.
                            Dine in our exquisite, stylish Arkle Bar boasting its own unique style and ambiance, the
                            perfect choice for food lovers and wine connoisseurs alike. Sink back into our plush 1920s
                            interiors where you may choose to sip on a revitalising cocktail created by our in-house
                            mixologist, savour a fine wine, whiskey or brandy.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="p-3">
                        <h1 class="text-center" style="color: #fff;">Restaurants in Maynooth</h1>
                        <p style="color: #fff;"> With some of the best restaurants in Maynooth County Kildare, the
                            Glenroyal Hotel with Brady's Bar, The Sodja Restaurant & Vine Market Cafe promises to
                            delight both the casual & seasoned diners alike. Visitors and guests can look forward to a
                            variety of dishes while also catering for healthier options.
                            To Find Us -
                            Just a stroll from Maynooth Town, 20 minutes from Dublin, and less than 40 minutes from the
                            airport.

                            With excellent national rail & bus and motorway connections on our door step, we're close to
                            everywhere! You can book your parties / weddings and other such events with us using our
                            contact line + 353 0894787029 or you can email us at SodjaResturant@gmail.com, For more
                            information about travel and site's of
                            Maynooth please come visit <a class="red-text no-underline" href="https://maynoothtown.ie/" target="_blank">https://maynoothtown.ie/</a>
                            where you can find more excluseive information about our Town.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

    </div>
<!-- End of About Section -->

    <!-- Menu Section -->
    <!-- I use a grid system for my menu section just like my about section. -->
    <div class="container-fluid" style="background-color: rgb(255, 255, 255);">
        <div class="container mb-5 mt-5" style="border: 1px solid #fff; background-color: rgb(255, 255, 255);">
            <div class="row" style="border: 1px solid #fff;">
                <div class="col-12 pt-3">
                    <h1 class="text-center display-2" id="Menu-id" style="color: rgb(0, 0, 0);"> Menu <img
                            src="{% static 'assets/icon.png' %}" alt="icon" width="90" height="90"></h1>
                </div>
            </div>
            <hr>
            <div class="row p-5 g-5">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <img src="{% static 'assets/steak.jpg' %}" class="" style="border: 3px solid black;" alt="Steak-image" width="360" height="360">   
                <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                    Steak | price: €14.55
                </p> 
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/ham-cheese-sandwich.jpg' %}" class="" style="border: 3px solid black;" alt="Ham-Cheese-image" width="360" height="360">   
                <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                    Ham-Cheese Sandwich | price: €8.55
                </p> 
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/burger-fries.jpg' %}" class="" style="border: 3px solid black;" alt="Burger-fries-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        Burger-fries | price: €9.25
                    </p> 
                </div>

            </div>
            <div class="row p-5 g-5">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/chicken-wings.jpg' %}" class="" style="border: 3px solid black;" alt="Chicken-Wings-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        Chicken-Wings | price: €10.25
                    </p> 
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/salmon.jpg' %}" class="" style="border: 3px solid black;" alt="Salmon-image" width="360" height="360">   
                <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                    Salmon | price: €14.55
                </p> 
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/soup.jpg' %}" class="" style="border: 3px solid black;" alt="Soup-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        Soup | price: €7.55
                    </p> 
                </div>
                

            </div>
            <div class="row p-5 g-5">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/lamb-chops.jpg' %}" class="" style="border: 3px solid black;" alt="lamb-chops-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        lamb-chops | price: €15.55
                    </p> 
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/pork-chops.jpg' %}" class="" style="border: 3px solid black;" alt="pork-chops-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        pork-chops & Veg | price: €14.55
                    </p> 
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/vegan-wraps.jpg' %}" class="" style="border: 3px solid black;" alt="Vegan-Wraps-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        Vegan-Wraps | price: €9.55
                    </p> 
                </div>

            </div>
            <div class="row p-5 g-5">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/pancakes.jpg' %}" class="" style="border: 3px solid black;" alt="Pancakes-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        Pancakes | price: €10.55
                    </p> 
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/sushi.jpg' %}" class="" style="border: 3px solid black;" alt="Sushi-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        Sushi | price: €11.95
                    </p> 
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="{% static 'assets/pizza.jpg' %}" class="" style="border: 3px solid black;" alt="Pizza-image" width="360" height="360">   
                    <p class="text-center" style="padding: 10px; font-size: 20px; font-weight: bold;">
                        Pizza | price: €9.55
                    </p> 
                </div>

            </div>
        </div>
        <hr>
    </div>
    <!-- End Of Menu Section -->
    {% endblock %}
     <!-- This is my footer, The footer dosnt stick directly to the bottom so i use a background-color to mask the footer a bit. -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark mt-auto"
        id="footer">
        <p class="col-md-4 mb-0 red-text">&copy; 2022 Sodja Company Resturaunt, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{% static 'assets/icon.png' %}" alt="icon" width="65" height="65">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 red-text">Top</a></li>
            <li class="nav-item"><a href="#About-Us-id" class="nav-link px-2 red-text">About</a></li>
            <li class="nav-item"><a href="#Menu-id" class="nav-link px-2 red-text">Menu</a></li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>